apiVersion: v1
kind: Secret
metadata:
  name: converter-secret
  labels:
    app: converter
type: Opaque
stringData:
  RABBITMQ_USER: "your-rabbitmq-user"
  RABBITMQ_PASSWORD: "your-rabbitmq-password"
  MONGODB_USERNAME: "your-mongodb-username"
  MONGODB_PASSWORD: "your-mongodb-password"
